html, body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map-container {
    flex: 1;
}

#map {
    width: 100%;
    height: 100%;
}

#small-map {
    height: 400px;
    border-radius: 10px; 
    }


#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    display: block;
    width: 20%;
    height: 5%;
    top: 10px;
    left: 50px;
    right: 80%;
    bottom: 90%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10000000;
    cursor: pointer;
  }

/* Mellem buttons afstand. */

.btn {
    margin: 0 5px;
}



/*regel for runde knapper */
.rounded-pill {
    border-radius: 50px !important; 
}



.documentation-link {
    position: absolute;
    bottom: 10px;
    left: 10px; 
    font-size: 10px; 
    color: gray;
}


#submitBtn {
    background-color: green;
    color: white; 
  }

  #cancelBtn {
    background-color: red;
    color: white;
  }



  .loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 1000;
}



.logo {
    position: fixed;
    top: 4px;
    right: 10px;
    width: 55px; 
    height: 60px;
}

.home {
    position: fixed;
    top: 10px;
    right: 60px;
    width: 50px; 
    height: 50px;
}

.add {
    position: fixed;
    top: 10px;
    right: 110px;
    width: 50px; 
    height: 50px;
}

.list {
    position: fixed;
    top: 10px;
    right: 160px;
    width: 50px; 
    height: 50px;
}

/* #zoomin {
    background-color: blue;
    color: white;
    cursor: pointer;
    top: 10px;
    right: 300px;
    width: 50px; 
    height: 50px;
} */
