<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaturDanmark</title>
    <link rel="shortcut icon" type="image/x-icon" href="fotos/logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="list.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
</head>
<body>
    <div id="app">
        <div class="form-group" id="controls">
            <input type="text" id="searchText" placeholder="Search" v-model="searchString">
            <input type="submit" id="search" v-on:click="submit">
        </div>

        <div>
            <table class="table">
                <thead>
                    <td>animalName</td>
                    <td>userName</td>
                    <td>date</td>
                    <td>Time</td>
                    <td></td>

                </thead>
                <tbody>
                    <tr v-for="observation in observations">
                        <td>{{observation.animalName}}</td>
                        <td>{{observation.userName}}</td>
                        <td>{{observation.date.split('T')[0]}}</td>
                        <td>{{observation.date.split('T')[1].slice(0,5)}}</td>
                        <td><button v-bind:id="observation.id" class="btn btn-success rounded-pill" @click="goto(observation.id)">View Details</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="list.js"></script>
</body>
</html>