<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaturDanmark</title>
    <link rel="shortcut icon" type="image/x-icon" href="fotos/logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="list.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
</head>
<body>
    <div id="app">
        <div class="form-group" id="controls">
            <input type="text" id="searchText" placeholder="Search" v-model="searchString">
            <input type="submit" id="search" v-on:click="submit">
        </div>

        <div>
            <ul>
                <li v-for="observation in observations">
                    {{observation.date}}
                    {{observation.animalName}}
                    {{observation.userName}}
                </li>
            </ul>
        </div>
    </div>
    <script src="list.js"></script>
</body>
</html>