html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../fotos/bckdrop.jpg') center/cover fixed;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(220, 206, 206, 0.7);
    backdrop-filter: blur(7px);
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}



.header {
    width: 100%;
    box-sizing: border-box;
}

.table {
    width: 100%;
    overflow-x: auto; /* scroll bar */
}

td, th {
    word-wrap: break-word;
    max-width: 150px; 
    white-space: normal;
}


/* Make the table responsive on mobile */
@media screen and (max-width: 768px) {
    #app {
        align-items: stretch;
    }

    .container {
        width: 100%;
        border-radius: 0;
        margin-top: 0; 
        margin-bottom: 0; 
        overflow: auto;
    }

    .logo {
        width: 100%; 
        max-width: 200px; 
        height: auto;
    }
}
/* Mellem buttons afstand. */
.btn {
    margin: 0 5px;
}

/* Regel for runde knapper */
.rounded-pill {
    border-radius: 50px !important;
}

#submitBtn {
    background-color: green;
    color: white;
}

#cancelBtn {
    background-color: red;
    color: white;
}


#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#locationToggleAuto,
#locationToggleMap {
    margin: 0 5px; 
}

#table,th,td
{
    border: 1px solid black;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd
}


.logo {
    position: fixed;
    top: 4px;
    left: 10px;
    width: 55px; 
    height: 60px;
}


