<!DOCTYPE html>
<html lang="da">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Observation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="fotos/logo.png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <link rel="stylesheet" href="sortedlist.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
    <div id="app" class="container mt-5">
        <a href="../index.html">
            <img src="../fotos/logo.png" alt="Logo" class="logo">
        </a>
        
        <h2>See observations near you</h2>
 
        <div class="form-group">
            <label for="location">Location: *</label>  
            
            <div class="form-check">
                <div id="map-container">
                    <div id="small-map"></div> <!-- Add the map container -->
                    <div id="coordinates">{{prettyCoordinates}}</div>
                    <div id="cityName">{{cityName}}</div>
                    <br>
                    <div id="buttons-container">
                        <button type="button" class="btn btn-primary" id="locationToggleAuto" @click="getCurrentLocation">Use current location</button>
                        <button type="button" class="btn btn-primary" id="locationToggleMap" @click="getPinLocation">Choose on map</button>
                    </div>
                    <div class="form-group" id="controls">
                        <input type="text" id="searchText" placeholder="Animal to Search for" v-model="searchString" class="form-control">
                        <input type="submit" class="btn btn-success rounded-pill" v-on:click="submitForm">
                        <a>scroll for details</a>
                    </div>
                </div>
                
                <div class="content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead">
                                <tr>
                                    <th>Animal</th>
                                    <th>Date</th>
                                    <th>City</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody v-for="observation in observations" :key="observation.id">
                                <tr>
                                    <tbody v-for="observation in observations" :key="observation.id">
                                        <tr>
                                            <td hidden>{{observation.id}}</td> <!-- Hidden ID for tests -->
                                            <td>{{ observation.animalName }}</td>
                                            <td>{{ observation.date.split('T')[0] }}</td>
                                            <td>{{ observation.cityName }}</td>
                                            <td><a href="../list/read/read.html" class="btn btn-success rounded-pill" v-on:click="getid(observation.id)">Details</a></td>
                                        </tr>
                                    </tbody>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="sortedlist.js"></script>
    
    
</body>
</html>
