html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../fotos/bckdrop.jpg') center/cover fixed;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(177, 176, 176, 0.7); 
    backdrop-filter: blur(7px); 
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden; /* Hide  map overflow */
}

#map-container {
    flex: 1;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#small-map {
    height: 400px;
    max-width: 100%;
    border-radius: 10px; 
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    display: block;
    width: 20%;
    height: 5%;
    top: 10px;
    left: 50px;
    right: 80%;
    bottom: 90%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10000000; 
    cursor: pointer;
}

/* Mellem buttons afstand. */
.btn {
    margin: 0 5px;
}

/* Regel for runde knapper */
.rounded-pill {
    border-radius: 50px !important;
}

#submitBtn {
    background-color: green;
    color: white;
}

#cancelBtn {
    background-color: red;
    color: white;
}


#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#locationToggleAuto,
#locationToggleMap {
    margin: 0 5px; 
}

.logo {
    position: fixed;
    top: 4px;
    right: 10px;
    width: 55px; 
    height: 60px;
}


/* foto preview */
.uploaded-photo {
    max-width: 10px;
    margin-top: 10px;
}