html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../../fotos/bckdrop.jpg') center/cover fixed;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(177, 176, 176, 0.7); 
    backdrop-filter: blur(7px); 
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;  
}

#map-container {
    flex: 1;
    width: 150%;
    margin-left: -28%; /* map fix for større container men dårligt på mobil nu */
}


#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Mellem buttons afstand. */
.btn {
    margin: 0 5px;
}

/* Regel for runde knapper */
.rounded-pill {
    border-radius: 50px !important;
}

#submitBtn {
    background-color: green;
    color: white;
}

#cancelBtn {
    background-color: red;
    color: white;
}


#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#locationToggleAuto,
#locationToggleMap {
    margin: 0 5px; 
}


.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px; 
    height: auto;
}